@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap');

.page {
  font-family: 'Fira Sans', serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  min-height: 100vh;
  background: #ffffff;
  color: #213547;
}
.page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.page button {
    background-color: #005fb8; /* Blue */
    border: none;
    border-radius: 10px;;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}