@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font: 16px/1.5 "Raleway", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.main-content {
    width: 100%;
    min-height: 100vh;
}

.sandbox-canvas .react-flow {
  background: #0a0a1a !important;
}

.react-flow__handle {
  width: 10px !important;
  height: 10px !important;
}

.react-flow__handle-top {
  top: -7.5px;
  left: 50%;
  transform: translateX(-50%);
}

.react-flow__handle-bottom {
  bottom: -7.5px;
  left: 50%;
  transform: translateX(-50%);
}